* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #cad2dc;
    padding: 40px;
}

h1 {
    color: #7D8996;
    padding-left: 20px;
}

header h1 #name {
    color: #163643;
}

nav ul li {
    float: right;
    display: inline-block;
    margin-left: 50px;
    font-size: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: 4px overline #163643;
}

nav ul li a:hover {
    color: #c4dce0;
    font-weight: bold;
    text-decoration: line-through;
}

.background-header-img{
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/laptop\ w:\ code\ on\ desktop.jpg");
    background-size: cover;
    background-position: center;
}

body {
    background-color: #163643
}
section {
    background-color: #cad2dc;
    color: #6f5439;
}

#pad {
    padding-bottom: 5%;
}

h2 {
    padding: 25px;
    background-color: #7D8996;
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;
    text-decoration: overline #f5dac8;
    text-decoration-thickness: 3px;
    color: #755b64;;
}

.avatar {
    height: 200px;
    float: left;
    margin: 10px;
    border-radius: 20px;
}

p {
    padding: 25px;
}

.container {
    margin: 3%;
    position: relative;
}

.cat-img {
    position: relative;
    width: 350px;
    /* padding-top: 30px; */
    border-radius: 20px;
    box-shadow:inset;
}

.other-img {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 20px;
}

#main-img, #other-imgs {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 1%;
    filter:grayscale() drop-shadow(16px 16px 20px #d7dfbf);
}

.text {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 18rem;
    top: 2rem;
    padding: 0 1rem;
    opacity: .9;
}

.container2 .text1 {
    position: absolute;
    color: #fff;
    left:200px;
    top: 4rem;
    padding: 0 30px;
    opacity: .9;
}

.container2 .text2 {
    position: absolute;
    color: #fff;
    right:200px;
    top: 4rem;
    padding: 0 30px;
    opacity: .9;
}

footer {
    background-color: #7D8996
}

footer a {
    display: inline-block;
    padding: 3% 3% 3% 18%;
    color: #f5dac8;
    font-size: 25px;
    text-decoration: 4px underline overline #d7dfbf;
    letter-spacing: 7px;
}

footer a:hover {
    color: #c4dce0;
    text-decoration: line-through;
}

/* Large phones */
@media screen and (max-width: 768px) {

}

/* Small phones */
@media screen and (max-width: 576px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    header {
        background-color: #dbd3c2;
        padding: 20px;
    }
    
    h1 {
        color: #948469;
        padding-left: 20px;
    }
    
    header h1 #name {
        color: #aea29a;
    }
    
    nav ul li {
        float: right;
        display: inline-block;
        margin-left: 30px;
        font-size: 15px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: 4px overline #aea29a;
    }
    
    nav ul li a:hover {
        color: #948469;
        font-weight: bold;
        text-decoration: line-through;
    }
    
    .background-header-img{
        height: 300px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("./images/developer-4523094_640.jpg");
        background-size: cover;
        background-position: center;
    }
    
    body {
        background-color: #ffff
    }
    section {
        background-color: #fff;
        color: #6f5439;
    }
    
    #pad {
        padding-bottom: 5%;
    }
    
    h2 {
        padding: 15px;
        background-color: #dbd3c2;
        font-size: 20px;
        letter-spacing: 5px;
        text-align: center;
        text-decoration: overline #aea29a;
        text-decoration-thickness: 3px;
        color: #755b64;;
    }
    
    .avatar {
        height: 125px;
        float: left;
        margin: 8px;
        border-radius: 10px;
    }
    
    p {
        padding: 15px;
    }
    
    .container, .container2, .container3 {
        align-items: center;
        margin: 3%;
        position: relative;
    }
    
    .cat-img {
        position: relative;
        align-items: center;
        width: 275px;
    }
    
    .other-img {
        position: relative;
        width: 150px;
        height: 150px;
        margin: 50px;
    }
    
    #main-img, #other-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        filter:drop-shadow(16px 16px 20px #483c36);
    }
    
    .container .text p{
        position: absolute;
        font-size: 18px;
        color: #dbd3c2;
        background-color: #948469;
        opacity: .8;
        padding: 2px 60px;
        right: 60px;
    }
    
    .container2 .text1 p{
        position: absolute;
        font-size: 13px;
        color: #dbd3c2;
        background-color: #948469;
        opacity: .9;
        padding: 1px 30px;
        right: 60px;
    }
    
    .container3 .text2 p{
        position: absolute;
        font-size: 13px;
        color: #dbd3c2;
        background-color: #948469;
        opacity: .9;
        padding: 4px 30px;
        left: 100px;
        top: 70px;
    }
    
    footer {
        background-color: #483c36
    }
    
    footer a {
        display: inline-block;
        padding: 3% 3% 3% 13%;
        color: #fff;
        font-size: 15px;
        text-decoration: 4px underline overline #aea29a;
        letter-spacing: 7px;
    }
    
    footer a:hover {
        color: #948469;
        text-decoration: line-through;
    }
}