* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: auto;
}
/* Group similar CSS selectors together */
header, section {
    background-color: #cad2dc;
}

h2, footer {
    background-color: #7D8996
}

.container .text, .container2 .texts, .container2 .texts1, .container2 .texts2, nav ul li a {
    color: #fff;
}

.container .text, .container2 .texts, .container2 .texts1, .container2 .texts2 {
    background-color: gray;
}

nav ul li a:hover, footer a:hover {
    color: #c4dce0;
}

.other-img, #main-img, .other-imgs, .avatar {
    border-radius: 20px;
}

.container .text, .container2 .texts, .container2 .texts1, .container2 .texts2 {
    opacity: .9;
}

#main-img, .other-imgs, .container, .container2 {
    justify-content: center;
}

#main-img, .other-imgs, .container, .container2 {
    display: flex;
}

.container2 .texts, .container2 .texts1, .container .text, .container2 .texts2 {
    position: absolute;
}

/* Start of code for regular destop CSS */
header {
    padding: 40px;
}

h1 {
    color: #7D8996;
    padding-left: 20px;
}

header h1 #name {
    color: #163643;
}

nav ul li {
    float: right;
    display: inline-block;
    margin-left: 50px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: 4px underline #163643;
}

nav ul li a:hover {
    font-weight: bold;
    text-decoration: line-through;
}

.background-header-img{
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/laptop\ w:\ code\ on\ desktop.jpg");
    background-size: cover;
    background-position: center;
}

body {
    background-color: #163643
}
section {
    color: #6f5439;
}

#pad {
    padding-bottom: 5%;
}

h2 {
    padding: 25px;
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;
    text-decoration: overline #f5dac8;
    text-decoration-thickness: 3px;
    color: #755b64;
}

.avatar {
    height: 200px;
    float: left;
    margin: 10px;
}

p {
    padding: 25px;
}

.container, .container2 {
    padding: 30px;
}

.container2 {
    padding-right: 50px;
}

#main-img, .other-imgs {
    position: relative;
}

.drinks-img {
    width: 350px;
    height: 350px
}

.other-img {
    display: inline-block;
    width: 200px;
    height: 200px;
}



.other-imgs {
    margin: 50px;
}

.main-img:hover, .other-img:hover {
    filter:blur(2px)
}

#main-img, .other-imgs {
    filter:grayscale() drop-shadow(30px 30px 60px #d7dfbf);
}

.container .text {
    left: 10rem;
    top: 2rem;
    padding: 15px 1rem;
}

.container2 .texts, .container2 .texts1, .container2 .texts2 {
    top: 1rem;
    left: 1rem;
    padding: 5px 20px;
}

footer a {
    display: inline-block;
    padding: 3% 3% 3% 18%;
    color: #f5dac8;
    font-size: 25px;
    text-decoration: 4px underline overline #d7dfbf;
    letter-spacing: 7px;
}

footer a:hover {
    text-decoration: line-through;
}

/* Large phones  */
@media screen and (max-width: 900px) {

    /* Group similar CSS selectors together */
    header h1 #name, footer a {
        color: #B090ED;
    }

    .container .text, .container2 .texts, .container2 .texts1, .container2 .texts2 {
        background-color: #0EEF63;
    }

    body, header, section, h2, footer {
        background-color: #000
    }

    footer a:hover, nav ul li a:hover {
        color: #fff;
    }

    .container2 .texts, .container2 .texts1, .container .text, .container2 .texts2 {
        color: yellow;
    }

    .container, .container2, #main-img, .other-imgs {
        display: flex;
    }

    .container, .container2, #main-img, .other-imgs {
        justify-content: center;
    }

    .container, .container2 {
        padding: 30px;
    }

    .container .text, .container2 .texts, .container2 .texts1, .container2 .texts2 {
        opacity: .9;
    }

    /* Start of code after grouping of CSS selectors */
    header {
        padding: 30px;
    }
    
    h1 {
        color: #F17BB4;
        padding-left: 30px;
    }
    
    nav ul li {
        float: right;
        display: inline-block;
        margin-left: 40px;
        font-size: 30px;
    }
    
    nav ul li a {
        color: #0EEF63;
        text-decoration: 4px line-through #FCBD49
        ;
    }
    
    nav ul li a:hover {
        font-weight: bold;
        text-decoration: underline;
    }
    
    .background-header-img{
        height: 400px;
        width: 100%;
        margin-bottom: 30px;
        background-image: url("./images/rainbow\ code.jpg");
        background-size: cover;
        background-position: center;
    }
    
    section {
        color: #F4F269;
    }
    
    h2 {
        padding: 20px;
        font-size: 20px;
        letter-spacing: 6px;
        text-align: center;
        text-decoration: overline #0FDAE5;
        text-decoration-thickness: 4px;
        color: #036FC9;
    }
    
    .avatar {
        height: 225px;
        float: left;
        margin: 10px;
        border-radius: 15px;
    }
    
    #main-img, #other-imgs {
        position: relative;
    }
    
    .drinks-img {
        width: 300px;
    }
    
    .other-img{
        display: inline-block;
        width: 175px;
        height: 175px;
        border-radius: 10%;
    }
    
    #main-img, .other-imgs {
        filter:drop-shadow(20px 20px 40px #FCBD49);
    }
    
    .container .text {
        position: absolute;
        left: 8rem;
    }
    
    .container2 .texts, .container2 .texts1 {
        position: absolute;
        top: 1rem;
        padding: 3px 5px;
    }
    
    footer a {
        display: inline-block;
        padding: 3% 3% 3% 13%;
        font-size: 25px;
        text-decoration: 4px underline overline #F17BB4;
        letter-spacing: 8px;
    }
    
    footer a:hover {
        text-decoration: line-through;
    }

}

/* Small phones */
@media screen and (max-width: 650px) {

    /* Group similar CSS selectors together */
    header, h2 {
        background-color: #dbd3c2;
    }

    .container .text, .container2 .texts, .container2 .texts1 {
        color: #dbd3c2;
    }

    h1, nav ul li a:hover, footer a:hover {
        color: #948469;
    }

    .container .text, .container2 .texts, .container2 .texts1 {
        background-color: #948469;
    }

    nav ul li a, footer a {
        color: #fff;
    }

    body, section {
        background-color: #ffff
    }

    /* Start of code after grouping */
    header {
        padding: 20px;
    }
    
    h1 {
        padding-left: 20px;
    }
    
    header h1 #name {
        color: #aea29a;
    }
    
    nav ul li {
        float: right;
        display: inline-block;
        margin-left: 30px;
        font-size: 15px;
    }
    
    nav ul li a {
        text-decoration: 3px underline #aea29a;
    }
    
    nav ul li a:hover {
        font-weight: bold;
        text-decoration: line-through;
    }
    
    .background-header-img{
        height: 300px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("./images/developer-4523094_640.jpg");
        background-size: cover;
        background-position: center;
    }
    
    section {
        color: #6f5439;
    }
    
    h2 {
        padding: 15px;
        font-size: 20px;
        letter-spacing: 5px;
        text-align: center;
        text-decoration: overline #aea29a;
        text-decoration-thickness: 3px;
        color: #755b64;
    }
    
    .avatar {
        height: 175px;
        float: left;
        margin: 8px;
        border-radius: 10px;
    }

    .container, .container2, #main-img, .other-imgs {
        display: flex;
        justify-content: center;
    }
    
    .drinks-img {
        width: 275px;
    }
    
    .other-img {
        width: 150px;
        height: 150px;
    }
    
    #main-img, .other-imgs {
        filter:drop-shadow(15px 15px 30px #483c36);
    }
    
    .container .text {
        left: 9rem;
    }

    .container2 .texts, .container2 .texts1, .container .text {
        position: absolute;
        opacity: .9;
    }
    
    footer {
        background-color: #483c36
    }
    
    footer a {
        display: inline-block;
        padding: 3% 3% 3% 13%;
        font-size: 15px;
        text-decoration: 4px underline overline #aea29a;
        letter-spacing: 7px;
    }
    
    footer a:hover {
        text-decoration: line-through;
    }
} 
